<% content_for :title, "Workspaces" %>

<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead>
      <tr>
        <th></th>
        <th>Workspace Name</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Marketing Team</td>
        <td>John Doe</td>
      </tr>
      <tr>
        <th>2</th>
        <td>Engineering Team</td>
        <td>Jane Smith</td>
      </tr>
      <tr>
        <th>3</th>
        <td>Sales Team</td>
        <td>Michael Johnson</td>
      </tr>
    </tbody>
  </table>
</div>
