<% content_for :title, "Workspaces" %>

<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead>
      <tr>
        <th></th>
        <th>Workspace Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% @workspaces.each_with_index do |workspace, index| %>
        <tr>
          <th><%= index + 1 %></th>
          <td><%= workspace.name %></td>
          <td><%= workspace.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
